[user]
	name = cdrolet
	email = 17693777+cdrolet@users.noreply.github.com

[github]
  # https://github.com/blog/180-local-github-config
  user = cdrolet

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal with a light background color
    side-by-side = true
    line-numbers = true
    syntax-theme = Nord
    plus-style = "syntax #2E3440"
    minus-style = "syntax #3B4252"
    plus-emph-style = "syntax #A3BE8C"
    minus-emph-style = "syntax #BF616A"
    line-numbers-left-style = "#4C566A"
    line-numbers-right-style = "#4C566A"
    line-numbers-minus-style = "#BF616A"
    line-numbers-plus-style = "#A3BE8C"

[color]
	ui = auto
	interactive = auto

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[core]
	editor = hx
	autocrlf = input
	pager = delta
	excludesfile = ~/.gitignore_global

[merge]
	tool = hx
	conflictstyle = zdiff3

[mergetool "hx"]
	cmd = hx $MERGED

[diff]
    algorithm = histogram
    colorMoved = default

[difftool]
    prompt = false
    trustExitCode = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[commit]
	verbose = true

[fetch]
	prune = true
	pruneRags = true

[log]
	date = relative

[pull]
	rebase = true

[rebase]
	autoStash = true
	autoSquash = true

[rerere]
	enabled = true

[push]
	default = current
	autoSetupRemote = true

[web]
	browser = brave

[url "https://github.com/"]
    insteadOf = gh:

[url "https://gist.github.com/"]
    insteadOf = gist:

[url "https://bitbucket.org/"]
    insteadOf = bb:

[url "https://github.com/cdrolet/"]
    insteadOf = home:
[init]
	defaultBranch = main
