[user]
	name = cdrolet
	email = 17693777+cdrolet@users.noreply.github.com

[github]
  # https://github.com/blog/180-local-github-config
  user = cdrolet

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal with a light background color
    side-by-side = true
    line-numbers = true
    syntax-theme = Dracula
    plus-style = "syntax #2A363B"
    minus-style = "syntax #3F2D3D"
    plus-emph-style = "syntax #2D4F3D"
    minus-emph-style = "syntax #613038"


[color]
	ui = auto
	interactive = auto
	
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
	
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
	
[core]
	editor = nvim
	autocrlf = input
	pager = delta
	excludesfile = ~/.gitignore_global

[merge]
	tool = vimdiff
	conflictstyle = diff3

[diff]
    tool = vimdiff
    colorMoved = default

#[mergetool "intellij"]
#   cmd = idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
#   trustExitCode = true

#[diff]
#   tool = intellij

#[difftool "intellij"]
#   cmd = idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")

#[merge]
#    log = true
#	tool = vimdiff

#[diff]
#	tool = vimdiff

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[format]
	pretty = oneline


[http]
	sslVerify = false

[push]
	default = matching

[web]
	browser = brave
	
[url "https://github.com/"]
    insteadOf = gh:

[url "https://gist.github.com/"]
    insteadOf = gist:

[url "https://bitbucket.org/"]
    insteadOf = bb:
    
[url "https://github.com/cdrolet/"]
    insteadOf = home:
[init]
	defaultBranch = main
